{% extends 'layout.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}

    {{ render_form(form) }}

    {% if request.endpoint == 'work_edit' %}
        <form action="#" name="delete_form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="work_id" value="{{ work_id }}">
            <input type="submit" value="Delete Work" class="mt-2 btn btn-danger">
        </form>
    {% endif %}

{% endblock content%}