{% extends 'layout.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}
    <div class="bg-body-tertiary rounded">
        <h1>Recent work</h1>
         <ul class="list-group mb-4">
              <li class="list-group-item" aria-current="true">An active item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
         </ul>
        <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">Add new work</a>
    </div>
{% endblock content%}