{% extends 'layout.html' %}

{% block title %} Personal Info {% endblock %}

{% block content %}
    <div class="bg-body-tertiary rounded">
        <!-- Flash messages -->
        {{ render_flash() }}

        <h1>Personal info</h1>
        <!-- photo profile-->
        <div class="card">
          <div class="card-header">
            Main Info
          </div>
          <div class="card-body">
              <!-- Photo profile -->
            <h5 class="card-title">Photo Profile</h5>
              <p>A square photo size is recommended eg 500 x 500 px.</p>
              <div class="d-flex justify-content-between align-items-center">
                  {{ render_form(form_photo_profile) }}
                  <img src="#" id="photo_preview" alt="" width="150">
              </div>
             <!-- Email -->
              <h5 class="card-title mt-4">User Email For Contact</h5>
              {{ render_form(email_form) }}

              <!-- Contact -->
              <h5 class="card-title mt-4">Given Name</h5>
              {{ render_form(name_form) }}
          </div>
        </div>

        <!-- bio text -->
        <div class="card mt-4">
          <div class="card-header">
            Bio Information
          </div>
          <div class="card-body">
            <h5 class="card-title">Bio</h5>
              {{ render_form(bio_form) }}
          </div>
        </div>

        <!-- Social networks -->
        <div class="card mt-4">
          <div class="card-header">
            Social Info
          </div>
          <div class="card-body">
            <h5 class="card-title">Social Networks</h5>
              {% if social_networks %}
                <ul class="list-group mb-4">
                {% for social in social_networks %}
                    <li class="list-group-item d-flex justify-content-between" aria-current="true">
                        <a href="{{ url_for('social_edit', social_id=social.id) }}" class="text-decoration-none text-body">
                            {{social.social_network |capitalize }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
              {% else %}
                <p>No social networks links yet please add new one.</p>
              {% endif %}
            <a href="{{ url_for('add_social') }}" class="btn btn-primary">App Social Network</a>
          </div>
        </div>


    </div>
{% endblock content%}