{% extends 'layout.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}
    <div class="bg-body-tertiary rounded">
        <h1>Recent work</h1>
         <ul class="list-group mb-4">
             {% if all_works %}
                {% for work in all_works %}
                    <li class="list-group-item d-flex justify-content-between" aria-current="true">
                        <a href="{{ url_for('work_edit', work_id=work.id) }}" class="text-decoration-none text-body">
                            {{work.title}}
                        </a>
                    </li>
                {% endfor %}
             {% else %}
                <p>Not works yet add new one.</p>
             {% endif %}
         </ul>
        <a class="btn btn-lg btn-primary" href="{{ url_for('add_work') }}" role="button">Add new work</a>
    </div>
{% endblock content%}