{% extends 'layout.html' %}

{% block title %} Page Info {% endblock %}

{% block content %}
    <div class="bg-body-tertiary rounded">
        <!-- Flash messages -->
        {{ render_flash() }}
        <h1>Page info</h1>
        <!-- Main title text-->
        <div class="card mt-4">
            <div class="card-header">
                Main Text
            </div>

            <div class="card-body">
                 <!-- Main title -->
                <h5 class="card-title">Main page text</h5>
                    {{ render_form(main_title_form) }}

                <!-- Main Text -->
                <h5 class="card-title mt-4">Main Text</h5>
                    {{ render_form(main_text_form) }}

                <!-- Photo profile -->
                <h5 class="card-title mt-4">Header Background</h5>
                <div class="d-flex justify-content-between align-items-center">
                    {{ render_form(header_img_form) }}
                  <img src="#" id="photo_preview" alt="" width="150">
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="card mt-4">
          <div class="card-header">
            Get In Touch Info
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
              <!-- Get in touch -->
              {{ render_form(get_in_touch_title_form) }}
              <!-- Get in touch text -->
              <h5 class="card-title mt-4">Contact paragraph text</h5>
              {{ render_form(get_in_touch_text_form) }}
          </div>
        </div>
        </div>


    </div>
{% endblock content%}